@media screen and (min-width:379px){
  h2{color:red;}
  .col1, .col2{
    width:45%;
  }
  .col3{
    width:100%;
  }
}
@media screen and (min-width:739px){
  h2{color:green;
  }
  .col1, .col2, .col3{
    width:30%;
    margin-right:5%;
  }
  .col3{
    margin-right:0%;
  }
}
